* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    background-color: white;
}

header .header-one {
    display: flex;
    gap: 10px;
}

header .header-one .menu {
    display: none;
}

header .header-one .menu .side_nav {
    background-color: white;
    width: 300px;
    box-shadow: 2px 2px 2px 2px lightgray;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: -200%;
    z-index: 1;
}

header .header-one .menu button {
    border: none;
    background: none;
    cursor: pointer;
}

header .header-one .menu .side_nav a {
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(64, 65, 69);
}

header .header-one .menu .side_nav .side-nav-one {
    width: 90%;
    align-items: center;
    gap: 20px;
    display: flex;
}

header .header-one .menu .side_nav .side-nav-one div {
    padding: 1em;
    border-radius: 100%;
    background-color: lightblue;
}

header .header-one .menu .side_nav .side-nav-two {
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header .header-one .menu .side_nav .side-nav-two ul {
    width: 90%;
    line-height: 41px;
    list-style: none;
}

header .header-one .menu .side_nav .side-nav-two ul li {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    color: rgb(34, 35, 37);
    align-items: center;
}

header .header-one .menu .side_nav .side-nav-two ul span {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .header-one img {
    width: 90px;
}

header .header-two {
    display: flex;
    width: 60%;
    align-items: center;
}

header .header-two input {
    width: 95%;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(98, 100, 106);
    border-radius: 4px 0 0 4px;
    height: 40px;
    border: 1px solid rgb(98, 100, 106);
    padding: 0 0 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}

header .header-two input::placeholder {
    color: rgb(98, 100, 106);
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header .header-two-media {
    width: 60%;
    display: none;
}

header .header-two-media input {
    width: 100%;
    padding: 0 0 0 1em;
    border: 1px solid rgb(98, 100, 106);
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

header .header-two-media input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgb(98, 100, 106);
    font-family: Arial, Helvetica, sans-serif;
}

header .header-two .search_btn {
    width: 5%;
    background-color: rgb(34, 35, 37);
    color: white;
    height: 40px;
    border-radius: 0 4px 4px 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

header .header-three {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .header-three .icon1{
    padding: 0.3em;
    border-radius: 100%;
    position: relative;
}
header .header-three .icon1:hover{
    background-color: rgb(116, 118, 126);
    cursor: pointer;
}
header .header-three .icon1 button{
    background: none;
    border: none;
}
header .header-three .notification-drop-down{
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 1px lightgray;
    display: none;
    right: 0;
    z-index: 1;
}
header .header-three .notification-drop-down .notification-header{
    display: flex;
    align-items: center;
    padding: 1em 0;
    gap: 20px;
    width: 100%;
}
header .header-three .notification-drop-down .notification-main{
    padding: 8em 4em;
    overflow-y: scroll;
}
header .header-three .notification-drop-down .notification-main .bell{
    padding: 1em;
    border-radius: 100%;
    background-color: rgb(242,242,242);
}
header .header-three .notification-drop-down .notification-main .inside-notification-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 250px;
    text-align: center;
}
header .header-three .notification-drop-down .notification-footer{
    display: flex;
    gap: 10px;
    padding: 1em 0;
}
header .header-three .icon1:focus-within .notification-drop-down{
    display: block;
}
header .header-four {
    align-items: center;
    display: flex;
    gap: 20px;
}
header .header-four .general-mini{
    position: relative;
}
header .header-four .general-mini button{
    border: none;
    background: none;
    cursor: pointer;
}
header .header-four .general-mini .tiny{
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
}
header .header-four .general-mini .tiny p a{
    text-decoration: none;
    color: black;
}
header .header-four .general-mini:focus-within .tiny{
    display: block;
}
header .header-four .general-mini .mini_drop_down{
    background-color: white;
    box-shadow: 1px 1px 1px lightgray;
    width: 187px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 382px;
    padding: 5px 15px;
}
header .header-four .general-mini .mini_drop_down .seller{
    color: rgb(29, 191, 115);
}
header .header-four .general-mini .mini_drop_down p{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header .header-four .general-mini .mini_drop_down p:hover{
    color: rgb(29, 191, 115);
    cursor: pointer;
}
@media(max-width: 1156px) {
    header .header-one .menu {
        display: block;
    }

    header .header-four .span {
        display: none;
    }

    header .header-three .favorite {
        display: none;
    }
}

@media(max-width: 900px) {
    header .header-three {
        display: none;
    }

    header .header-two {
        display: none;
    }

    header .header-two-media {
        display: block;
    }
}

@media(max-width: 600px) {
    header {
        flex-direction: column;
    }

    header .header-one .menu {
        width: 40%;
    }

    header .header-one {
        width: 90%;
    }

    header .header-two-media {
        width: 90%;
    }

    header .header-four {
        display: none;
    }
}

nav {
    align-items: center;
    width: 100%;
    display: flex;
    padding: 0.5em 0;
    justify-content: center;
    background-color: white;
}

nav ul {
    width: 90%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    position: relative;
}
nav ul li:hover{
    border-bottom: 3px solid rgb(29, 191, 115);
    cursor: pointer;
}
nav ul li a{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(116, 118, 126);
    text-decoration: none;
}
nav ul li .general-container {
    display: none;
    position: absolute;
    top: 30px;
}

nav ul li .general-container4 {
    left: -300px;
}

nav ul li .general-container .drop_down{
    background-color: white;
    box-shadow: 1px 1px 1px lightgray;
    gap: 100px;
    display: flex;
    padding: 1em;
}
nav ul li .general-container .drop_down .ul li{
    border: none;
}
nav ul li .general-container .drop_down .ul li button{
    font-size: 10px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid rgb(255,98,173);
    color: rgb(255,98,173);
    font-weight: 700;
}
nav ul li .drop_down .ul li .color{
    color: rgb(68,110,231);
}
nav .arrow{
    display: none;
}
nav ul li .drop_down .ul {
    width: 230px;
    line-height: 40px;
    height: fit-content;
    /* display: flex; */
    flex-direction: column;
}

nav ul li:hover .general-container {
    display: block;
}

nav ul li .general-container4 {
    left: -300px;
}

nav ul li .general-container5 {
    left: -470px;
}

nav ul li .general-container6 {
    left: -330px;
}

nav ul li .general-container7 {
    left: -800px;
}

nav ul li .general-container8 {
    left: -270px;
}

nav ul li .general-container9 {
    left: -320px;
}

nav ul li .general-container10 {
    right: -60px;
}

@media(max-width: 1290px) {
    nav ul li:hover .general-container {
        display: none;
    }

    nav ul {
        width: 90vw;
        padding: 1em 0;
        gap: 40px;
        height: fit-content;
        overflow-x: auto;
    }
    nav ul::-webkit-scrollbar{
        background: none;
    }
    nav ul li a {
        white-space: nowrap;
    }
    nav .arrow{
        display: block;
    }
}
@media(max-width: 600px){
    nav{
        display: none;
    }
}
main{
    width: 100%;
    background-color: rgb(247,247,247);
    display: flex;
    justify-content: center;
    padding: 3em 0 40em 0;
}
main .main-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
main .main-content .one{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 30px;
}
main .main-content .main-one{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: 100%;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    background-color: white;

} 
main .main-content .main-one .i .display .h2-other{
    display: none;
}
main .main-content .one .main-one .i{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
main .main-content .main-one .i .user{
    padding: 3em;
    background-color: blue;
    width: fit-content;
    border-radius: 100%;
}
main .main-content .main-one .i .display{
    display: flex;
    gap: 10px;
    align-items: center;
}
main .main-content .main-one .i .display button{
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    font-weight: 400;
    background-color: rgb(255,98,173);
    border: none;
}
main .main-content .main-one .i .third{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
main .main-content .main-one .i .third-other{
    display: none;
}
main .main-content .main-one .i .third-other div{
    display: flex;
    align-items: center;
    gap: 10px;
}
main .main-content .main-one .i .btn{
    width: 100%;
}
main .main-content .main-one .i .btn button{
    width: 100%;
    height: 30px;
    transition: all 0.3s;
    border: 1px solid black;
    border-radius: 5px;
}
main .main-content .main-one .i .btn button:hover{
    background-color: rgb(140,141,146);
    color: white;
    border: none;
    cursor: pointer;
}
main .main-content .main-one .ii{
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 10px;
}
main .main-content .main-one .ii .first, .second{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .main-content .main-one .ii div{
    display: flex;
    gap: 10px;
    align-items: center;
}
main .main-content .one .main-two{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 2em 0;
    width: 100%;
    border: 1px solid lightgray;
    background-color: white;
}
main .main-content .main-two .main-two-header{
    width: 90%;
}
main .main-content .main-two .main-two-header img{
    width: 100px;
}
main .main-content .main-two .main-inside{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 10px;
}
main .main-content .main-two .main-inside button{
    height: 41px;
    width: 133px;
    border: none;
    background-color: rgb(29,191,115);
    font-size: 16px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
main .main-content .main-two .main-inside button:hover{
    background-color: green;
    cursor: pointer;
}
main .main-content .one .main-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    border: 1px solid lightgray;
}
main .main-content .main-three .first{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 1em 0 3.5em 0;
    border-bottom: 1px solid black;
}
main .main-content .main-three .first div{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
main .main-content .main-three .first-prime{
    border: none;
    padding: 2em 0;
}
main .main-content .main-three .first a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19px;
    color: rgb(0, 105, 140);
    text-decoration: none;
}
main .main-content .main-three .first a:hover{
    text-decoration: underline;
}
main .main-content .two{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4.5em 0;
    height: fit-content;
    border: 1px solid lightgray;
    align-items: center;
    gap: 20px;
}
main .main-content .two img{
    width: 40%;
}
main .main-content .two button{
    height: 43px;
    width: 173px;
    background-color: rgb(29, 191, 115);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
main .main-content .two button:hover{
    box-shadow: 1px 1px rgb(116, 118, 126);
    cursor: pointer;
}
@media(max-width: 520px){
    main{
        padding: 2em 0;
    }
    main .main-content .two{
        display: none;
    }
    main .main-content .one .main-one{
        padding: 0;
        width: 100%;
    }
    main .main-content .one{
        width: 90%;
    }
    main .main-content .one .h2, #pen, button{
        display: none;
    }
    main .main-content .one .main-one .third{
        display: none;
    }
    main .main-content .main-one .i .third-other{
        display: block;
    }
    main .main-content .main-one .i .display .h2-other{
        display: block;
    }
    main .main-content .one{
        width: 100%;
    }
}
footer{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer-one{
    display: flex;
    width: 90%;
    padding: 3em 0;
    justify-content: space-between;
}
footer .footer-one ul{
    list-style: none;
    height: fit-content;
    line-height: 40px;
}
footer .footer-one ul li a{
    text-decoration: none;
    color: rgb(116, 118, 126);
}
footer .footer-one ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer .footer-two{
    justify-content: space-between;
    padding: 2em 0;
    width: 90%;
    display: flex;
}
footer .footer-two .footer-two-i{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 20px;
}
footer .footer-two .footer-two-i small{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(140,141,146);
}
footer .footer-two .footer-two-ii{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .footer-two .footer-two-ii .i{
    display: flex;
    gap: 10px;
}
footer li{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(116, 118, 126);
}
footer .footer-two .footer-two-ii .i div{
    padding: 0.8em;
    border-radius: 100%;
    width: fit-content;
}
footer .footer-two .footer-two-ii .i div:hover{
    background-color: rgb(140,141,146);
    cursor: pointer;
}
footer .footer-two .footer-two-ii .ii{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .footer-two .footer-two-ii .ii div{
    display: flex;
    align-items: center;
    gap: 5px;
}
footer .general{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    align-items: center;
}
 footer .general-dropdown{
    /* display: none; */
    width: 90%;
}
footer .general-dropdown button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: none;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
footer .general-dropdown .drop_down{
    display: none;
}
footer .general-dropdown .drop_down p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: rgb(116, 118, 126);
}
footer .general-dropdown:focus-within .drop_down{
    display: block;
}
footer .general{
    display: none;
}
footer .footer-two .footer-two-ii .ii .access{
    padding: .4em;
    width: fit-content;
    border-radius: 100%;
}
@media(max-width: 520px){
    footer .footer-one{
        display: none;
    }
    .footer-two{
        width: 80%;
    }
    .footer-two .footer-two-i{
        flex-direction: column;
    }
    .footer-two{
        flex-direction: column;
    }
    .footer-two .footer-two-ii{
        flex-direction: column;
    }
    footer .general-dropdown{
        display: block;
    }
    footer .general{
        display: block;
    }
}